.layout {
   min-width: 100vw;
   min-height: 100vh;
}

.layout main {
   width: 100%;
}

footer {
   position: fixed;
   bottom: 0;
   display: flex;
   justify-content: center;
   width: 100vw;
}

header {
   padding: 20px 0px;
}

header svg {
   max-width: 50px;
   max-height: 50px;
}

.header-content {
   display: flex;
   gap: 10px;
   font-size: 22px;
   text-transform: uppercase;
}