.boardGamePage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boardGamePage__info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}