.grid {
    display: grid;
    gap: 1rem;
}

.grid.easy {
    grid-template-columns: repeat(4, 10rem);
    grid-template-rows: repeat(4, 10rem);}

.grid.medium {
    grid-template-columns: repeat(4, 10rem);
    grid-template-rows: repeat(6, 10rem);
}

.grid.difficult {
    grid-template-columns: repeat(5, 10rem);
    grid-template-rows: repeat(6, 10rem);
}