.grid {
    display: grid;
    gap: 1rem;
}

.grid.easy {
    grid-template-columns: repeat(4, 14rem);
}

.grid.medium {
    grid-template-columns: repeat(4, 14rem);
}

.grid.difficult {
    grid-template-columns: repeat(6, 14rem);
}